/*
Sass @mixin Syntax:

@mixin name {
  property: value;
  property: value;
  ...
}



SCSS Syntax:

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}



Sass @include mixin Syntax:

selector {
  @include mixin-name;
}



SCSS Syntax:

.danger {
  @include important-text;
  background-color: green;
}



CSS output:

.danger {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: green;
}



SCSS Syntax:

@mixin special-text {
  @include important-text;
  @include link;
  @include special-border;
}




SCSS Syntax:

/* Define mixin with two arguments */
/*
@mixin bordered($color, $width) {
    border: $width solid $color;
  }
  
  .myArticle {
    @include bordered(blue, 1px);  // Call mixin with two values
  }
  
  .myNotes {
    @include bordered(red, 2px); // Call mixin with two values
  }



  CSS Output:

.myArticle {
  border: 1px solid blue;
}

.myNotes {
  border: 2px solid red;
}
  */
/*





*/