/*
Sass @mixin Syntax:

@mixin name {
  property: value;
  property: value;
  ...
}



SCSS Syntax:

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}



Sass @include mixin Syntax:

selector {
  @include mixin-name;
}



SCSS Syntax:

.danger {
  @include important-text;
  background-color: green;
}
*/