/*
@import "variables";
@import "colors";
@import "reset";
*/

/* 
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
*/

/*

@import "reset";

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: red;
}


// CSS output:

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: red;
}


"_colors.scss":

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;

*/